.settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 0;
  width: 290px;
  padding: 20px 16px 20px 32px;
  border-right: 1px solid var(--primary-stroke);

  &__setting {
    @include flex-gap(8px);
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 8px;
    color: var(--secondary-color);

    span {
      flex: 1;
    }

    &--active {
      background: var(--secondary-background);
      @include borderWithBefore(var(--primary-stroke));
      color: var(--primary-color);

      > svg {
        color: var(--blue-700);
      }
    }

    & > p {
      flex: 1;
      text-align: left;
    }

    &:hover {
      background: var(--secondary-background);
      color: var(--primary-color);

      & > svg {
        color: var(--blue-700);
      }
    }

    & > svg:last-child {
      color: var(--primary-color);
    }
  }

  &__divider {
    @include divider-styles;
  }
}
