@use "../../../styles/global" as *;

.sidebar {
  @include scrollable-child();

  &--left {
    width: 272px;
    border-right: 1px solid var(--primary-stroke);
  }

  &--right {
    width: 258px;
    border-left: 1px solid var(--primary-stroke);
  }
}
