@use "../../../styles/global" as *;

.page {
  flex: 1;
  display: flex;
  min-height: 0;

  &__content {
    @include scrollable-child($height: full);
  }

  &__body {
    @include scrollable-child($height: full, $direction: row);
  }
}
