@use "./styles/global" as *;

@each $font, $url in $fonts {
  :root[data-font="#{$font}"] {
    font-family: "#{$font}", sans-serif;
  }
}

#root {
  height: 100vh;
  background: var(--primary-background);
  display: flex;
  flex-direction: column;
}
