@use "../../../styles/global" as *;

.notes {
  &__list {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__wrapper {
    flex: 1;
    width: 290px;
    border-right: 1px solid var(--primary-stroke);
    @include flex-gap(16px, column);
    min-height: 0;
    padding: 20px 16px 20px 32px;
  }

  &__create-btn {
    padding: 12px 16px;
    @include font-size(4);
    background: $blue-500;
    border-radius: 8px;
    color: $neutral-000;

    &:hover {
      background: $blue-700;
    }
  }

  &__archived-text {
    @include font-size(5);
    color: var(--secondary-color);
  }

  &__empty-state {
    @include font-size(5);
    padding: 8px;
    background: var(--secondary-background);
    border: 1px solid var(--primary-stroke);
    border-radius: 8px;

    & > span {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__list-content {
    @include flex-gap(4px, column);
    @include scrollable;
  }
}
