@use "../../../../styles/global" as *;

.sidebar {
  &__render-options {
    @include flex-gap(4px, column);
  }

  &__render-option {
    @include flex-gap(8px);
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 8px;
    color: var(--secondary-color);

    &--active {
      background: var(--secondary-background);
      @include borderWithBefore(var(--primary-stroke));
      color: var(--primary-color);

      & > svg {
        color: $blue-700;
      }
    }

    & > p {
      flex: 1;
      text-align: left;
    }

    &:hover {
      background: var(--secondary-background);
      color: var(--primary-color);

      & > svg {
        color: $blue-700;
      }
    }
  }
}
