.emptyState {
  @include font-size(5);
  padding: 8px;
  background: var(--secondary-background);
  border: 1px solid var(--primary-stroke);
  border-radius: 8px;

  & > span {
    text-decoration: underline;
    cursor: pointer;
  }
}
