@use "../../../../styles/global" as *;

.sidebar {
  &__tags-list {
    @include scrollable;
    gap: 4px;
  }

  &__tag-item {
    width: 100%;
    margin: 4px 0;
    @include flex-gap(8px);
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 8px;
    color: var(--secondary-color);

    & > p {
      flex: 1;
      text-align: left;
    }

    &--active {
      background: var(--secondary-background);
      color: var(--primary-color);
      @include borderWithBefore(var(--primary-stroke));

      & > svg {
        color: $blue-700;
      }
    }

    &:hover {
      background: var(--secondary-background);
      color: var(--primary-color);

      & > svg {
        color: $blue-700;
      }
    }

    & > svg:last-child {
      color: $neutral-000;
    }
  }
}
