.notes {
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 16px;
  width: 290px;
  padding: 20px 16px 20px 32px;
  border-right: 1px solid var(--primary-stroke);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include scrollable;
  }

  &__actions {
    @include scrollable-child();
    width: 258px;
    border-left: 1px solid var(--primary-stroke);
    @include flex-gap(12px, column);
    padding: 20px 16px;
  }

  &__action {
    span {
      flex: 1;
    }
  }
}
