@use "../../../styles/global" as *;

.page {
  &__header {
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    border-bottom: 1px solid var(--primary-stroke);
  }

  &__title {
    @include font-size(1);
    color: var(--primary-color);

    & > span:first-child {
      color: var(--title-color);
    }
  }

  &__header-content {
    @include flex-gap(16px);
    align-items: center;
  }
}
