@use "../../../../styles/global" as *;

$properties: tags, updatedAt, createdAt, isArchived;

.note {
  @each $property in $properties {
    &__#{$property} {
      @include flex-gap(8px);
      @include font-size(5);
      align-items: center;
      color: var(--secondary-color);
    }

    &__#{$property}-label {
      width: 115px;
      @include flex-gap(6px);
      align-items: center;
      padding: 4px 0;
    }

    &__#{$property}-value {
      color: var(--subtle-text-color);


      @if ($property == tags) {
        flex: 1;

        & > input {
          @include input-styles($position: note);
          color: inherit;
          background: transparent;
        }
      } @else {
        width: fit-content;
      }
    }
  }
}
