@use "../../../../styles/global" as *;

.note {
  &__action {
    @include flex-gap(8px);
    padding: 12px 16px;
    border-radius: 8px;

    &--archive,
    &--delete {
      border: 1px solid var(--subtle-stroke);
    }
  }
}
