@mixin font-size($size) {
  line-height: 120%;

  @if ($size == 1) {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  @if ($size == 2) {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  @if ($size == 3) {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
  }

  @if ($size == 4) {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.2px;
  }

  @if ($size == 5) {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
  }

  @if ($size == 6) {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.2px;
  }
}

@mixin scrollable-child($height: auto, $direction: column) {
  @if ($height == full) {
    flex: 1;
  }
  display: flex;
  flex-direction: $direction;
  min-height: 0;
}

@mixin scrollable {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin flex-gap($gap, $direction: row) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin input-styles($position) {
  @if ($position == note) {
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: inherit;
    }
  }

  @if ($position == search or $position == auth) {
  }
}

@mixin divider-styles {
  width: 100%;
  height: 1px;
  background: var(--primary-stroke);
}
