// ——— Neutral Colors ——————————————————————————————————————————————————————————————————————————————
$neutral-950: #0e121b;
$neutral-900: #191b25;
$neutral-800: #232530;
$neutral-700: #2b303b;
$neutral-600: #525866;
$neutral-500: #717784;
$neutral-400: #99a0ae;
$neutral-300: #cacfd8;
$neutral-200: #e0e4ea;
$neutral-100: #f3f5f8;
$neutral-000: #ffffff;

// ——— Extra Colors ————————————————————————————————————————————————————————————————————————————————
$blue-700: #2547d0;
$blue-500: #335cff;
$blue-050: #ebf1ff;

$green-500: #21c16b;
$green-100: #d1fbe9;

$red-500: #fb3748;
$red-100: #ffd5d8;

// ——— Fonts ———————————————————————————————————————————————————————————————————————————————————————
$fonts: (
  "inter": "InterVarFont.woff2",
  "noto-serif": "NotoSerifVarFont.woff2",
  "source-code-pro": "SourceCodeProVarFont.woff2",
);

// ——— Light Theme —————————————————————————————————————————————————————————————————————————————————
:root[data-theme="light"] {
  // Colors
  --primary-background: #{$neutral-000};
  --primary-color: #{$neutral-950};

  // Strokes
  --primary-stroke: #{$neutral-200};
  --subtle-stroke: #{$neutral-300};
}

@media (prefers-color-scheme: light) {
  :root[data-theme="system"] {
    // Colors
    --primary-background: #{$neutral-000};
    --primary-color: #{$neutral-950};

    // Strokes
    --primary-stroke: #{$neutral-200};
    --subtle-stroke: #{$neutral-300};
  }
}

// ——— Dark Theme —————————————————————————————————————————————————————————————————————————————————
:root[data-theme="dark"] {
  // Colors
  --primary-background: #{$neutral-950};
  --primary-color: #{$neutral-000};

  // Strokes
  --primary-stroke: #{$neutral-800};
  --subtle-stroke: #{$neutral-600};
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="system"] {
    // Colors
    --primary-background: #{$neutral-950};
    --primary-color: #{$neutral-000};

    // Strokes
    --primary-stroke: #{$neutral-800};
    --subtle-stroke: #{$neutral-600};
  }
}
